/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #a19ea8;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/* Modal window */
.modal-window {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: absolute;
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
  flex-direction: column;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
}
.modal-header {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;

  padding: 30px;
  color: #8d8f94;
}
.modal-text {
  color: #8d8f94;
  margin: 0 auto;
  padding: 0 30px;
}
.modal-input {
  width: 100%;
  margin-left: -10%;
}
.modal-batton {
  border-radius: 25%;
  cursor: pointer;
  text-align: right;
  background-color: white;
  border: white;
  margin: 20px 20px 0 0;
}
.modal-error {
  margin: 30px 0 5px 170px;
  color: rgb(175, 4, 4);
}
/*------------------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #a19ea8;
}
.main {
  flex: 1 1 auto;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  padding: 0 50px;
  max-width: 1057px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  min-height: 120px;
  align-items: center;
}
.header__logo {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}
.header__menu {
  flex: 1 1 auto;
}
.header__contact {
  flex: 0 0 250px;
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  text-transform: uppercase;
  display: flex;
  /* gap: 30px; эта запись вместо margin: 0 30px 0 0 в .menu__item (или одна или другая)*/
}
.menu__item {
  margin: 0 30px 0 0;
}
.contact__icon {
  color: #2d312f;
  font-size: 17px;
  font-weight: 800;
}
.contact__data {
  font-size: 15px;
  font-weight: 400;
}
/*---------------------------Секция загрузки--------------------------------*/
.loading {
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url(https://b1.m24.ru/c/1289274.jpg);
  background-color: #2d312f;
  width: 100%;
  height: 300px;
}
.loading__container {
  display: flex;
  min-height: 300px;
  align-items: center;
}
.loading__textcontainer {
  width: 30%;
}
.loading__header {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.loading__underheader {
  font-weight: 800;
  margin-bottom: 10px;
}
.loading__button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 1px;
  color: rgb(3, 67, 122);
  padding: 14px 20px;
  border-radius: 10px;
  background-color: none;
  transition: background-color 0.3s ease 0s;
  margin-top: 10px;
}
.loading__button:hover {
  background-color: rgb(215, 237, 255);
}
/*--------------------------------------------------------------*/
.title__container {
  margin-top: 30px;
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}
/*----------------------TAB Section----------------------------------------*/
.app-information__container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
}
.app-information__menu {
  display: flex;
}
.app__menu {
  display: flex;
  padding-bottom: 30px;
}
.app__information-menu-text {
  cursor: pointer;
  width: 30px;
  line-height: 50px;
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  color: rgb(161, 158, 168);
  width: 183px;
}
.icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  fill: #a19ea8;
}
.main-icon {
  display: inline-block;
  width: 150px;
  height: 150px;
  fill: #a19ea8;
}
.svg-icon {
  cursor: pointer;
  fill: rgb(68, 219, 181);
  width: 150px;
  height: 150px;
}

.app__progresstab-line {
  margin-left: -10px;
  opacity: 0.5;
  height: 95%;
  width: 2px;
  background-color: #a19ea8;
  border-radius: 0.5px;
}
.progresstab__slicker {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 20px;
  height: 50px;
  background-color: rgb(68, 219, 181);
}
.app__main-menu {
  fill: rgb(68, 219, 181);
  display: inline-block;

  text-align: center;
}
.main-menu__name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
  margin-top: 15px;
}
.main-menu__text {
  display: flex;
  margin: 15px 10px;
  justify-content: space-between;
  width: 90%;
  height: 200px;
}
/*-------------------------NEW Slider----------------------------------*/
.slider {
  max-width: 90%;
  /* Положение элемента устанавливается относительно его исходной позиции: */
  position: relative;
  /* Центрируем по горизонтали: */
  margin: auto;
  height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  object-fit: cover;
  width: 100%;
  height: 300px;
}
/* Кнопки назад и вперёд: */

.slider .previous,
.slider .next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /* Оформление самих кнопок: */
  color: white;
  font-weight: bold;
  font-size: 16px;
  /* Плавное появление фона при наведении курсора: */
  transition: 0.6s ease;
  /* Скругление границ: */
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------Slider------------------------------------*/
.is-slider__container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  height: 300px;
}

.img-slider {
  object-fit: cover;
  width: 650px;
  height: 300px;
}
.button-slider {
  cursor: pointer;
  color: #a19ea8;
  border: #f7f7f7;
  margin: 30px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
  margin-top: 130px;
}
.button-slider:hover {
  color: #230370;
}
.is-slider__container .img-slider {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*--------------------------------------------------------------*/
.person__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.person__header {
  font-weight: 800;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.person__image {
  margin: 20px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.person__text {
  margin-bottom: 10px;
}
.person__chenge {
  cursor: pointer;
  color: #a19ea8;
  margin: 15px;
  font-size: 20px;
}
.person__more {
  display: none;
}

/*----------------Блок подписки--------------------------*/
.before-footer {
  margin-top: 15px;
  background-color: #bac8d4;
  padding: 20px;
}
.before-footer__container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.input-footer__error {
  text-align: left;
  margin: 15px 0 5px 12px;
  color: rgb(175, 4, 4);
  font-size: 14px;
}
.before-footer__header {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/*------------------------ Footer---------------------------------- */
.footer__container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #a19ea8;
  text-align: center;
}
.footer {
  background-color: #2d312f;
  width: 100%;
  height: 150px;
}
.footer__icon {
  margin: 10px 0 10px 0;
  width: 40px;
  height: 40px;
}
.footer__link {
  font-size: 12px;
  margin-right: 4px;
}
.footer__svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.footer__svg__path {
  fill: #a19ea8;
  fill-rule: nonzero;
}
.footer__svg__pathin {
  fill: #2d312f;
  fill-rule: nonzero;
}

/* ------------------------Кнопка внизу--------------------------------- */
input:focus {
  background-color: #e7e7f8;
  border-color: #5cb4c0;
}
.wrapper_inpt {
  /* margin-top: 30px; */
  margin-left: 35%;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
.btn_area {
  cursor: pointer;
  width: 100px;
  height: 36px;
  background: #4ba025;
  border-radius: 20px;
  color: #fff;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_area:hover {
  background-color: #5cb4c0;
}
input {
  border: none;
  background: white;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  text-indent: 10px;
}
